<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./partials/head') -%>
  </head>
  <body style="background: white; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; font-size: 2vw; color: white;">
      <%- include('./partials/googleTagManager') -%>
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 3vw; background: #00bac6; border-radius: 5vw; box-shadow: .5vw .5vw 2vw black;">
        <h1 style="margin-bottom: 5vh;">THANK YOU!</h1>
        <h1>MUCHAS GRACIAS!</h1>
      </div>
  </body>
</html>