
<div class="flab flab-active">
    <img src="/img/logo.png" alt="">
</div>     

<div class="box-flab ">
    <a class="item item-1" href="https://api.whatsapp.com/send?phone=541130172090" target="_blank">
        <img src="/img/logoWpp.png" alt="">
    </a>

    <a class="item item-2" href="https://instagram.com/dental.pro" target="_blank">
        <img src="/img/logoIg.png" alt="">
    </a>
</div>

<script>
    document.querySelector('.flab').addEventListener('click', function(e){
        document.querySelector('.box-flab').classList.toggle('box-active');
        document.querySelector('.flab').classList.toggle('flab-active');
    })
</script>