<footer>
    <div class="logo-container">
        <img src="/img/logo.png" alt="">
    </div>

    <div class="links-container">
        <div class="links">
            <% for (let i = 0; i < footerDat.company.length; i++ ) { %> 
                <a href="<%=footerDat.links[i]%>" style="color: white; text-decoration: none;"><p><%=footerDat.company[i]%></p></a>
            <% } %>
        </div>

        <div class="links">
            <a href="/faq" style="color: white; text-decoration: none;">FAQ</a>
            <a href="/login" style="color: white; text-decoration: none;">Contact Us</p>
            <a href="https://instagram.com/dental.pro?utm_medium=copy_link" style="color: white; text-decoration: none;">News</p>
        </div>

        <div class="links">
            <a href="/login" style="color: white; text-decoration: none;">Reserve</p>
            <a href="/login" style="color: white; text-decoration: none;">Report a Problem</p>
            <a href="/" style="color: white; text-decoration: none;">Privacy Policy</p>
        </div>
        <div class="links">
            <p>Install App</p>
            <p>Get it on Google Play</p>
            <p>Get it on the App Store</p>
        </div>
    </div>

    <div class="copyright-container">
        <p class="it-tech">Developed by <a style="color: white" href="http://it-techgroup.com" target="_blank">IT-TECHGROUP</a></p>
    </div>
</footer>