<section class="section-principal" id="principalSection">


  <div class="splide" data-splide='{"type" : "fade", "interval": "3000" , "fixedWidth":"100vw", "drag": false , "loop": true, "rewind":true, "autoplay": true, "arrows": false, "pagination": false}'>
    <div class="splide__track" >
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="img-principal-container">
            <img class="splide-img" src="/img/home/principal-1.png" alt="First slide">
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img class="splide-img" src="/img/home/principal-2.png" alt="Second slide">
          </div>
        </li>
        <li class="splide__slide">
          <div class="img-principal-container">
            <img class="splide-img" src="/img/home/principal-3.png" alt="Third slide">
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="text-container">
    <h1 data-aos="fade-down" data-aos-duration="1500" data-aos-delay="0"><%=principalDat.title%></h1>
    <h3 data-aos="fade-down" data-aos-duration="1500" data-aos-delay="500"><%=principalDat.subtitle%></h3>
    <button><%=principalDat.button%></button>
  </div>

  </section>